<div class="container" style="max-width:700px">
    <div class="card shadow-sm">
        <div class="card-header bg-dark text-white">
            <h3 class="mb-0 text-center">🤖 ChatBot</h3>
        </div>

        <div class="card-body" id="chatBox" style="height: 370px; overflow-y:auto">
        </div>

        <div class="card-footer">
            <div id="chatForm" class="d-flex">
                <input type="text" id="userInput" class="form-control me-2" placeholder="Type your message..." required />
                <button type="button" class="btn btn-dark" id="btnSend">Send</button>
            </div>
            <div class="text-center">
                <small class="text-muted copyRightText">&copy;Chatbot - All rights reserved - @DateTime.Now.Year</small>
            </div>
        </div>
    </div>
</div>

